@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO A MI SITIO </h1>
    <p>Esta web de prueba solo servira como recurso para el Curso de Web Apps y Logic Apps en Azure. </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
